{% extends 'page_layout.html' %}

{% block body %}

<div class="container-fluid main">
    <video src="{{ url_for('static', filename = 'video/background.webm')}}" muted autoplay loop></video>
    <div class="container">
        <div class="row">
           
            <div class="col-md-6 password_wrapper">
                <div class="password_generator">
                    <h1>Gen<br>Password</h1>
                    
                    <p class="password"><span id="generated_password"></span><span id="copy"><i class="fa-solid fa-copy fa-beat"></i></span></p>
                    <button id="generate" class="custom_btn"><i class="fa-solid fa-rotate"></i></button>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

{% block script %}


{% endblock %}